 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(33,102,14,0.1), rgba(33,102,14,0.1)), url("/images/backgg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  box-shadow: 5px 7px 11px 0px rgba(0,0,0,0.6);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 245px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -1px -4px 40px rgba(0,0,0,1);
  font-size: 2.25rem;
  font-style: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px -2px 16px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  margin-top: 2px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 38px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 160%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 58.47%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 220px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -2px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-bottom: 20px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1131px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0 calc(((100% - 1140px) / 2) + 375px);
}

.u-section-2 .u-gallery-1 {
  height: 736px;
  grid-gap: 17px 17px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-31 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-32 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-33 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-34 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-35 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-36 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-37 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-38 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-39 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-40 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-41 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-42 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-43 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-44 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-45 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-46 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 33px auto 0;
}

.u-section-2 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + 257px);
}

.u-section-2 .u-icon-1 {
  font-size: 1.25em;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -32px 337px 60px calc(((100% - 1140px) / 2) + 748px);
}

.u-section-2 .u-icon-2 {
  font-size: 1.25em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 309px);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 20px;
    height: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 257px);
  }

  .u-section-2 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2) + 617px);
    margin-right: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 237px);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 16px;
    height: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }

  .u-section-2 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 473px);
    margin-right: 212px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1206px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 178px);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 12px;
    height: 12px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-2 .u-text-5 {
    margin-right: 159px;
    margin-left: calc(((100% - 540px) / 2) + 355px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1286px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 7px;
    height: 7px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -34px;
    margin-right: 50px;
    margin-left: calc(((100% - 340px) / 2) + 234px);
  }
}
